<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824323968676-k1paer3uuh30j4qmmio7odd20bnmr0jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824323968676-k1paer3uuh30j4qmmio7odd20bnmr0jn</string>
	<key>API_KEY</key>
	<string>AIzaSyDkTkH8_X6TNeAwiYIxrif7AJvWgRsShMk</string>
	<key>GCM_SENDER_ID</key>
	<string>824323968676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Budget.BudgetBee.BudgetBee</string>
	<key>PROJECT_ID</key>
	<string>budgetbee-25652</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetbee-25652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824323968676:ios:0295c28da74fb46ea26031</string>
</dict>
</plist>